:root {
  --dark: #404040;
  --gray-1: #595959;
  --gray-2: #a6a6a6;
  --gray-3: #e0e0e0;
  --gray-4: #f3f3f3;
  --white: #ffffff;
  --bg-black: #1e1e1e;
  --font-family: "Euclid Circular A", "Verdana", sans-serif;
}